@import 'parts/*.scss';
@import '../components/**/*.scss';

html, body{
    height: 100%;
}

a{
    text-decoration: none;
}

.site{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Roboto";

}

.content{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index:10;
    &-body{
        background: #8d0e57;
        background: -moz-linear-gradient(90deg, #8d0e57 0%, #8d0e57 50%, #b1166e 50%, #b1166e 100%);
        background: -webkit-linear-gradient(90deg, #8d0e57 0%, #8d0e57 50%, #b1166e 50%, #b1166e 100%);
        background: linear-gradient(90deg, #8d0e57 0%, #8d0e57 50%, #b1166e 50%, #b1166e 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8d0e57",endColorstr="#b1166e",GradientType=1);
        &-content{
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    }
    &-logo{
        flex: 0 0 auto;
        margin: 4px 16px 4px 0;
        @media screen and (max-width: 1140px){
            margin: 4px 16px;
        }
        img{
            display: block;
            width: 100%;
        }
    }
    &-menu{
        flex: 1 1 auto;
        background: #b1166e;
        width: 100%;
        &-list{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 8px 16px 12px;
            &__item{
                padding: 10px 32px;
                @media screen and (max-width: 1140px){
                    padding: 10px 20px;
                }
                &:not(:first-child){
                    @media screen and (max-width: 1140px){
                        display: none;
                    }
                }
                a{
                    font-size: 14px;
                    font-family: "FuturaRoundBold";
                    color: white;
                    text-transform: uppercase;
                    line-height: 16px;
                    text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
                }
            }
        }
    }
    &-phone{
        position: relative;
        flex: 0 0 auto;
        background: #b1166e;
        margin: 0 0 0 auto;
        padding: 10px 0;
        @media screen and (max-width: 1140px){
            background: #b1166e;
            padding: 10px;
        }
        a{
            display: flex;
            flex-direction: row;
            align-items: center;
            &:hover{
                .header-phone-popup{
                    opacity: 1;
                    visibility: visible;
                    top: 42px;
                }
            }
        }
        span{
            @media screen and (max-width: 1140px){
                display: none;
            }
        }
        &__number{
            font-size: 15px;
            font-family: "FuturaRoundBold";
            color: white;
            text-transform: uppercase;
            line-height: 16px;
            text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
        }
        &__img{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            background: #8d0e57;
            margin-left: 13px;
            border-radius: 50%;
            @media screen and (max-width: 1140px){
                margin: 0;
            }
            svg{
                width: 16px;
                height: 16px;
                fill: white;
            }
        }
        &-popup{
            opacity: 0;
            visibility: hidden;
            position: absolute;
            font-size: 12px;
            font-family: "Roboto";
            color: #31332d;
            line-height: 1;
            text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
            text-align: center;
            padding: 10px;
            width: 100%;
            top: 50px;
            left: 0;
            border-radius: 5px;
            background: white;
            box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.22);
            transition: all .4s ease;
            @media screen and (max-width: 1140px){
                display: none;
            }
        }
    }
}

.container{
    max-width: 1200px;
    padding: 0 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    @media screen and (max-width: 1140px){
        padding: 0;
    }
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 106px;
    overflow: hidden;
    flex: 0 0 auto;
    background: #31332d;
    z-index: 2;
    transition: all .3s ease;
    @media screen and (max-width: 1140px){
        padding: 0 16px;
        position: static;
        max-height: 1000px !important;
    }
    &.open{
        max-height: 1000px !important;
    }
    &-top{
        &-content{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @media screen and (max-width: 1140px){
                flex-direction: column;
            }
        }
        &__text{
            font-size: 13px;
            font-family: "FuturaRound";
            color: #949494;
            line-height: 1;
            text-align: center;
            text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
            margin-bottom: 7px;
        }
    }
    &-bottom{
        &-content{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-top: 1px solid #4e4e4e;
            padding: 12px 0 16px;
            margin-top: 10px;
            @media screen and (max-width: 1140px){
                flex-direction: column;
                align-items: center;
            }

        }
        &__copy{
            font-size: 13px;
            font-family: "FuturaRound";
            color: #949494;
            line-height: 1;
            text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
            @media screen and (max-width: 1140px){
                font-size: 12px;
                order: 2;
                margin-bottom: 4px;
            }
        }
        &__person{
            font-size: 13px;
            font-family: "FuturaRound";
            color: #949494;
            border-bottom: 1px solid #949494;
            line-height: 1;
            text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
            @media screen and (max-width: 1140px){
                font-size: 12px;
                order: 1;
                margin-bottom: 6px;
            }

        }
        &__company{
            font-size: 13px;
            font-family: "FuturaRound";
            color: #949494;
            line-height: 1;
            text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
            @media screen and (max-width: 1140px){
                font-size: 12px;
                order: 3;
            }
            a{
                color: #c63f80;
            }

        }
    }
    &-contacts{
        @media screen and (max-width: 1140px){
            order: 2;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 8px;
        }
    }
    &-phone{
        margin: 20px 12px 12px 0;
        @media screen and (max-width: 1140px){
            margin: 0 10px 0 0;
        }
        a{
            display: flex;
            flex-direction: row;
        }
        svg{
            position: relative;
            top: 2px;
            fill: #8c8c8c;
            width: 16px;
            height: 16px;
            margin-right: 14px;
            @media screen and (max-width: 1140px){
                margin-right: 9px;
            }
        }
    }
    &-mail{
        margin: 0 12px 12px 0;
        a{
            display: flex;
            flex-direction: row;
        }
        svg{
            position: relative;
            top: 1px;
            fill: #8c8c8c;
            width: 18px;
            height: 13px;
            margin-right: 12px;
            @media screen and (max-width: 1140px){
                margin-right: 9px;
            }

        }
    }
    &__text{
        font-size: 15px;
        font-family: "FuturaRound";
        color: #949494;
        line-height: 1;
        text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
        @media screen and (max-width: 1140px){
            font-size: 12px;
        }
    }
    &__number{
        font-size: 15px;
        font-family: "FuturaRoundBold";
        color: #c63f80;
        line-height: 24px;
        text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
        @media screen and (max-width: 1140px){
            font-size: 14px;
        }

    }
    &__bad{
        width: 596px;
        margin: 10px 12px 7px;
        @media screen and (max-width: 1140px){
            order: 1;
            width: 100%;
            margin: 15px 0 ;
        }
        svg{
            width: 596px;
            height: 87px;
            fill: #9b9b9b;
            @media screen and (max-width: 1140px){
                width: 100%;
                height: auto;
            }

        }
    }
    &__logo{
        margin: 20px 0 12px 20px;
        @media screen and (max-width: 1140px){
            display: none;
        }
        &-mobile{
            display: none;
            margin: 10px 0 12px 20px;
            @media screen and (max-width: 1140px){
                display: block;
            }
        }
    }
    &-logos-mobile{
        display: none;
        @media screen and (max-width: 1140px){
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

    }
    
}

.head{
    position: relative;
    height: 720px;
    padding-top: 60px;
    background: url(../assets/img/head.png) 50% 50% no-repeat;
    background-size: cover;
    z-index: 2;
    @media screen and (max-width: 1140px){
        height: auto;
    }
    &-content{
        position: relative;
        max-width: 1200px;
        padding: 50px 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        @media screen and (max-width: 1140px){
            padding: 30px 16px;
        }
    }
    &__title{
        font-size: 45px;
        font-family: "FuturaRound";
        color: white;
        text-transform: uppercase;
        line-height: 1.4;
        text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
        @media screen and (max-width: 1140px){
            font-size: 20px;
            margin-bottom: 2px;
        }

    }
    &__subtitle{
        display: inline-block;
        align-self: flex-start;
        border-radius: 19px;
        background: #8d0e57;
        padding: 7px 55px 8px;
        font-size: 23px;
        font-family: "FuturaRound";
        color: white;
        line-height: 1;
        text-align: center;
        text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
        margin-bottom: 30px;
        @media screen and (max-width: 1140px){
            font-size: 12px;
            padding: 7px 11px 8px;
        }


    }
    &__img-front{
        position: absolute;
        width: 579px;
        height: 461px;
        background: url(../assets/img/happyclim.png) 50% 50% no-repeat;
        background-size: cover;
        top: -40px;
        left: 110px;
        z-index: 5;
        @media screen and (max-width: 1140px){
            top: -10px;
            left: 42px;
            width: 239px;
            height: 200px;
            background-size: contain;
        }
    }
    &__img-back{
        position: relative;
        width: 373px;
        height: 317px;
        background: url(../assets/img/happyclim-blurred.png) 50% 50% no-repeat;
        background-size: cover;
        left: -40px;
        z-index: 2;
        margin-top: 46px;
        @media screen and (max-width: 1140px){
            top: 0;
            left: 0;
            width: 184px;
            height: 148px;
            background-size: contain;
            margin: 0;
        }

    }
    &-buttons{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 467px;
        bottom: 50px;
        right: 50px;
        @media screen and (max-width: 1140px){
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            max-width: 300px;
            justify-content: space-between;
            margin-top: 44px;
        }
    }
}

.ui-button{
    position: relative;
    display: flex;
    background: #880d56;
    border-radius: 33px;
    min-width: 213px;
    box-shadow: 0px 17px 40px 0px rgba(0, 0, 0, 0.40);
    transition: all .3s ease;
    @media screen and (max-width: 1140px){
        min-width: 120px;
        border-radius: 18px;
    }
    &:hover{
        background: #66003c;
        .ui-button-content{
            background: #950457;
            background: -moz-linear-gradient( 0deg, #950457 0%, #c42571 100%);
            background: -webkit-linear-gradient( 0deg, #950457 0%, #c42571 100%);
            background: linear-gradient( 0deg, #950457 0%, #c42571 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#950457",endColorstr="#c42571",GradientType=1);

        }
    }
    &-content{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 18px 32px 18px 28px;
        top: -4px;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 25px;
        font-family: "FuturaRound";
        color: white;
        line-height: 1;
        text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
        background: #ae126c;
        background: -moz-linear-gradient( 0deg, #ae126c 0%, #ca4584 100%);
        background: -webkit-linear-gradient( 0deg, #ae126c 0%, #ca4584 100%);
        background: linear-gradient( 0deg, #ae126c 0%, #ca4584 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ae126c",endColorstr="#ca4584",GradientType=1);
        border-radius: 33px;
        transition: all .3s ease;
        @media screen and (max-width: 1140px){
            padding: 11px 15px;
            font-size: 15px;
            top: -2px;
        }
    }
    svg{
        margin-right: 14px;
        @media screen and (max-width: 1140px){
            margin-right: 8px;
        }
    }
}

.compose{
    position: relative;
    background-color: #f6f7fb;
    background: url(../assets/img/section-1.jpg) 50% 50% no-repeat;
    background-size: cover;
    height: 986px;
    margin-top: -170px;
    padding-top: 170px;
    z-index: 1;
    @media screen and (max-width: 1140px){
        height: auto;
        background: none 50% 50% no-repeat;
        background: #edeef1;
    }
    &-content{
        position: relative;
        max-width: 1200px;
        padding: 20px 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        @media screen and (max-width: 1140px){
            padding: 20px 16px 40px;
        }
    }
    &__title{
        display: flex;
        flex-direction: row;
        margin-bottom: 26px;
        @media screen and (max-width: 1140px){
            display: inline-block;
            margin-bottom: 20px;
        }
    }
    &__name{
        font-size: 45px;
        font-family: "FuturaRoundBold";
        color: #212c28;
        line-height: 1.133;
        text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
        @media screen and (max-width: 1140px){
            font-size: 30px;
            display: inline-block;
        }
    }
    &__desc{
        font-size: 15px;
        font-family: "FuturaRound";
        color: #474747;
        line-height: 1.133;
        text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
        margin: 12px 0 0 18px;
        @media screen and (max-width: 1140px){
            margin: 0;
            display: inline;
        }
    }
    &-icons{
        display: flex;
        flex-direction: row;
        width: 622px;
        margin-left: auto;
        border-bottom: 2px solid #31332d;
        padding-bottom: 14px;
        margin-bottom: 20px;
        @media screen and (max-width: 1140px){
            flex-direction: column;
            width: 100%;
            padding-bottom: 20px;
        }
        &-item{
            display: flex;
            flex-direction: row;
            width: 100%;
            &:not(:last-child){
                margin-right: 20px;
                @media screen and (max-width: 1140px){
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }
            &__img{
                position: relative;
                flex: 0 0 auto;
                width: 63px;
                height: 64px;
                margin-right: 9px;
                img{
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &__text{
                font-size: 13px;
                font-family: "FuturaRound";
                color: #474747;
                line-height: 1.154;
                text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
 
            }
        }
    }
    &-table{
        width: 622px;
        margin: 0 0 24px auto;
        @media screen and (max-width: 1140px){
            width: 100%;
            overflow-x: scroll;
            margin-bottom: 22px;
        }
        &-head{
            display: flex;
            flex-direction: row;
            font-size: 13px;
            font-family: "FuturaRound";
            color: white;
            line-height: 1.133;
            text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
            align-items: stretch;
            text-align: center;
            @media screen and (max-width: 1140px){
                width: 622px;
            }
            &__name{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                background: #8d0e57;
                border-right: 1px solid #f6f7fb;
                padding: 4px 8px;
                font-size: 15px;
                width: 130px;
                text-align: left;

            }
            &__provide{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background: #8d0e57;
                border-right: 1px solid #f6f7fb;
                padding: 4px 8px;
                width: 120px;

            }
            &__lvl{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background: #8d0e57;
                border-right: 1px solid #f6f7fb;
                padding: 4px 8px;
                width: 130px;

            }
            &__percent{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background: #8d0e57;
                padding: 4px 8px;
                width: 280px;

            }
        }
        &-row{
            display: flex;
            flex-direction: row;
            font-size: 14px;
            font-family: "FuturaRound";
            color: #474747;
            line-height: 1.133;
            text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
            align-items: stretch;
            text-align: center;
            border-bottom: 1px solid #31332d;
            @media screen and (max-width: 1140px){
                width: 622px;
            }
        }
        &__name{
            border-right: 1px solid #f6f7fb;
            padding: 9px 8px;
            width: 130px;
            text-align: left;


        }
        &__provide{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #f6f7fb;
            padding: 9px 8px;
            width: 120px;

        }
        &__lvl{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #f6f7fb;
            padding: 9px 8px;
            width: 130px;

        }
        &__percent{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 9px 8px;
            width: 280px;

        }
        .mod-purple{
            color: #8d0e57;
            font-weight: normal;
        }
    }
    &__text{
        display: block;
        width: 622px;
        font-size: 12px;
        font-family: "FuturaRound";
        color: #474747;
        line-height: 1.4;
        text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
        margin: 0 0 8px auto;
        @media screen and (max-width: 1140px){
            width: 100%;
        }
    }
    &-button{
        margin-top: 30px;
        width: 622px;
        margin-left: auto;
        .ui-button{
            width: 344px;
            @media screen and (max-width: 1140px){
                width: 230px;
            }
        }
        @media screen and (max-width: 1140px){
            margin-top: 16px;
            width: 230px;
            margin: 16px auto 0;
        }
    }
}

.heir{
    position: relative;
    background-color: #f6f7fb;
    background: url(../assets/img/section-2.jpg) 50% 50% no-repeat;
    background-size: cover;
    height: 907px;
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 1140px){
        height: auto;
    }
    z-index: 1;
    &-content{
        position: relative;
        max-width: 1100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 100px 60px 66px;
        margin: 172px auto;
        border: 2px solid #fff;
        @media screen and (max-width: 1140px){
            margin: 16px 16px;
            padding: 33px 14px 16px;

        }
    }
    &__title{
        font-size: 45px;
        font-family: "FuturaRoundBold";
        color: #fff;
        line-height: 1;
        text-align: center;
        text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
        margin-bottom: 44px;
        @media screen and (max-width: 1140px){
            font-size: 30px;
            margin-bottom: 20px;
        }
    }
    &__text{
        padding: 34px 240px;
        font-size: 18px;
        font-family: "FuturaRound";
        color: #fff;
        line-height: 1.278;
        text-align: center;
        text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
        @media screen and (max-width: 1140px){
            font-size: 15px;
            padding: 18px 20px 15px;
        }
        &.mod-magenta{
            padding: 34px 100px;
            border-radius: 10px;
            background: #af116c;
            background: -moz-linear-gradient( 0deg, #af116c 0%, #cb4585 100%);
            background: -webkit-linear-gradient( 0deg, #af116c 0%, #cb4585 100%);
            background: linear-gradient( 0deg, #af116c 0%, #cb4585 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#af116c",endColorstr="#cb4585",GradientType=1);
            @media screen and (max-width: 1140px){
                padding: 18px 20px 15px;
            }
        }
    }
}

.family{
    position: relative;
    background-color: #f6f7fb;
    background: url(../assets/img/section-3.jpg) 50% 50% no-repeat;
    background-size: cover;
    height: 907px;
    z-index: 1;
    @media screen and (max-width: 1140px){
        height: auto;
        background: none 50% 50% no-repeat;
        background-color: #f2f3f8
    }
    &-content{
        position: relative;
        max-width: 1200px;
        padding: 80px 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        @media screen and (max-width: 1140px){
            padding: 34px 16px 0;
        }
    }
    &__title{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 45px;
        font-family: "FuturaRoundBold";
        color: #212c28;
        line-height: 1;
        text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
        margin-bottom: 30px;
        margin-left:-2px;
        .mod-subtitle{
            font-size: 15px;
            font-family: "FuturaRound";
            color: #8d0e57;
            font-style: italic;
            line-height: 1.133;
            text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
            margin-left: 12px;
            margin-top: 4px;
            @media screen and (max-width: 1140px){
                text-align: left;
                margin-top: 8px;
            }
        }
        @media screen and (max-width: 1140px){
            font-size: 30px;
            text-align: center;
            margin-bottom: 16px;
        }

    }
    &__text{
        font-size: 20px;
        font-family: "FuturaRound";
        color: #8d0e57;
        text-transform: uppercase;
        margin-bottom: 20px;
        @media screen and (max-width: 1140px){
            font-size: 17px;
            margin-bottom: 16px;
        }
    }
    &-list{
        width: 620px;
        margin-bottom: 56px;
        @media screen and (max-width: 1140px){
            width: 100%;
            margin-bottom: 32px;
        }
        &__item{
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid #dbdbdc;
            padding-bottom: 14px;
            cursor: pointer;
            &:not(:last-child){
                margin-bottom: 14px;
            }
            &:hover{
                .family-list__icon{
                    transform: scale(1.3);

                }
            }
        }
        &__icon{
            flex: 0 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 22px;
            height: 22px;
            background: #8d0e57;
            margin-right: 16px;
            transition: all .3s ease;
        }
        &__text{
            align-self: center;
            font-size: 15px;
            font-family: "FuturaRound";
            line-height: 1.133;
            text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
            p{
                margin-bottom: 10px;
            }
            .mod-magenta{
                color: rgb(141, 14, 87);
                font-weight: bold;

            }
        }
    }
}

.important{
    position: relative;
    background-color: #f6f7fb;
    background: url(../assets/img/section-4.jpg) 50% 50% no-repeat;
    background-size: cover;
    height: 907px;
    z-index: 1;
    @media screen and (max-width: 1140px){
        background: url(../assets/img/section-4.jpg) 80% 50% no-repeat;
        height: auto;
    }
    &-content{
        position: relative;
        max-width: 1200px;
        padding: 156px 50px 60px 550px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        @media screen and (max-width: 1140px){
            padding: 30px 16px 0;
        }
    }
    &__title{
        font-size: 45px;
        font-family: "FuturaRoundBold";
        color: #212c28;
        line-height: 1;
        text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
        margin-bottom: 42px;
        @media screen and (max-width: 1140px){
            font-size: 30px;
            text-align: center;
            margin-bottom: 16px;
        }

    }
    &__text{
        font-size: 21px;
        font-family: "Roboto";
        color: #292929;
        line-height: 1.286;
        text-align: left;
        text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
        margin-bottom: 75px;
        @media screen and (max-width: 1140px){
            font-size: 15px;
            margin-bottom: 0;
        }
        p{
            margin-bottom: 24px;
            @media screen and (max-width: 1140px){
                margin-bottom: 16px;
            }
        }
        .mod-magenta{
            color: #8d0e57;
            font-weight: bold;

        }
    }
    &-tablet{
        position: relative;
        width: 352px;
        height:283px;
        background: url(../assets/img/sec-4-tablet.png) 50% 50% no-repeat;
        background-size: cover;
        margin: 0 0 0 40px;
        @media screen and (max-width: 1140px){
            margin: 96px auto 80px;
        }
        @media screen and (max-width: 640px){
            width: 62%;
            height: 0;
            padding-top: 49.6%; 
            margin: 96px auto 80px;
        }
        &-item{
            position: absolute;
            display: flex;
            flex-direction: row;
            align-items: center;
            transition: all .2s ease;
            cursor: pointer;
            &:hover{
                .important-tablet-item-decor{
                    transform: Scale(1.2);

                }
            }
            &__number{
                font-size: 120px;
                font-family: "Roboto";
                color: #8d0e57;
                line-height: 1;
                text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
                font-weight: 300;
                @media screen and (max-width: 1140px){
                    font-size: 90px;
                }
            }
            &-desc{
                &__title{
                    font-size: 30px;
                    font-family: "FuturaRound";
                    color: #212c28;
                    line-height: 25px;
                    text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
                    margin-bottom:12px;
                    @media screen and (max-width: 1140px){
                        font-size: 22px;
                        line-height: 20px;
                        margin-bottom:6px;
                    }
                  
                }
                &__text{
                    font-size: 15px;
                    font-family: "FuturaRound";
                    color: #727272;
                    line-height: 16px;
                    text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
                    @media screen and (max-width: 1140px){
                        font-size: 12px;
                        line-height: 14px;
                    }

                }
            }
            &-decor{
                position: absolute;
                transition: all .3s ease;

            }
            &.mod-day{
                right: -180px;
                top: -32px;
                @media screen and (max-width: 1140px){
                    right: -74px;
                    top: -102px;
                }
                .important-tablet-item-desc{
                    width:120px;
                    @media screen and (max-width: 1140px){
                        width:100px;
                    }
                }
                .important-tablet-item-decor{
                    left: -113px;
                    top: 36px;
                    @media screen and (max-width: 1140px){
                        left: -13px;
                        top: 90px;
                    }
                }
            }
            &.mod-month{
                left: -53px;
                bottom: -43px;
                @media screen and (max-width: 1140px){
                    left: -70px;
                    bottom: -60px;
                }
                .important-tablet-item-desc{
                    width:172px;
                }
                .important-tablet-item-decor{
                    left: 104px;
                    top: -106px;
                    @media screen and (max-width: 1140px){
                        left: 60px;
                        top: -106px;
                    }
                }
                
            }
            &.mod-attention{
                right: -190px;
                bottom: -24px;
                @media screen and (max-width: 1140px){
                    left: -50px;
                    top: -90px;
                    right: auto;
                    bottom: auto;
                }
                .important-tablet-item__number{
                    font-size: 30px;
                    margin-right: 6px;
                    margin-bottom: 20px;
                }
                .important-tablet-item-desc{
                    width:236px;
                    @media screen and (max-width: 1140px){
                        width: 130px;
                    }
                }
                
            }
        }
    }
}

.buy{
    position: relative;
    background-color: #f6f7fb;
    background: url(../assets/img/section-5.jpg) 50% 50% no-repeat;
    background-size: cover;
    height: 907px;
    z-index: 1;
    @media screen and (max-width: 1140px){
        height: auto;
    }
    &-content{
        position: relative;
        max-width: 1200px;
        padding: 120px 50px 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        @media screen and (max-width: 1140px){
            padding: 30px 16px 0px;
        }
    }
    &__title{
        font-size: 45px;
        font-family: "FuturaRoundBold";
        color: #212c28;
        line-height: 1;
        text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
        text-align: center;
        margin-bottom: 12px;
        @media screen and (max-width: 1140px){
            font-size: 30px;
        }

    }
    &__text{
        font-size: 21px;
        font-family: "Roboto";
        color: #565656;
        line-height: 1.286;
        text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
        text-align: center;
        margin-bottom: 0;
        @media screen and (max-width: 1140px){
            font-size: 15px;
        }
    }
    &-slider{
        display: flex;
        flex-direction: row;
        align-items: center;
        &-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 280px;
            padding: 60px 0;
            @media screen and (max-width: 1140px){
                padding: 12px 0 60px;
            }
            a{
                display: flex;
                flex-direction: column;
                align-items: center;

            }
            &__img{
                position: relative;
                width: 100%;
                height: 90px;
                margin-bottom: 30px;
                img{
                    position: absolute;
                    left:0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            &__site{
                font-size: 15px;
                font-family: "FuturaRound";
                color: #474747;
                line-height: 1.133;
                text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
                margin-bottom: 20px;

            }
            &__price{
                font-size: 25px;
                font-family: "FuturaRound";
                color: #161214;
                line-height: 1;
                text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
                margin-bottom: 13px;
            }
            .ui-button{
                width:213px;
                margin: 0 auto 0;
                @media screen and (max-width: 1140px){
                    width: 100%;
                }
            }
        }
    }

}

.icon-instruction{
    width: 22px;
    height: 22px;
    fill: white;
    @media screen and (max-width: 1140px){
        width: 13px;
        height: 13px;
    }
}

.icon-cart{
    width: 23px;
    height: 23px;
    fill: white;
    @media screen and (max-width: 1140px){
        width: 13px;
        height: 13px;
    }

}

.icon-tablets{
    width: 27px;
    height: 28px;
    fill: white;
    @media screen and (max-width: 1140px){
        width: 13px;
        height: 13px;
    }

}
.icon-baby{
    width: 34px;
    height: 44px;
    fill: white;
    @media screen and (max-width: 1140px){
        width: 27px;
        height: 35px;
    }

}

.icon-sperms{
    width: 41px;
    height: 41px;
    fill: white;
    @media screen and (max-width: 1140px){
        width: 32px;
        height: 32px;
    }

}

.icon-blister{
    width: 32px;
    height: 42px;
    fill: white;
    @media screen and (max-width: 1140px){
        width: 25px;
        height: 33px;
    }

}

.slick-arrow {
    flex: 0 0 auto;
    padding: 0;
    cursor: pointer;
    width: 27px;
    height: 51px;
    @media screen and (max-width: 1140px){
        width: 21px;
        height: 39px;
    }
    &.next{
        margin-left:50px;
        transform: scale(-1, 1);
        @media screen and (max-width: 1140px){
            margin-left: 20px;
        }
    }
    &.back{
        margin-right:50px;
        @media screen and (max-width: 1140px){
            margin-right: 20px;
        }
    }
}

.slick-slide {
	padding: 0 25px;
	box-sizing: border-box;
 }

 .cd-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 11;
    width: 74px;
    height: 74px;
    bottom: 130px;
    right: 80px;
    overflow: hidden;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    border-radius: 50%;
    background-color: #f2eff0;
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.14);
    cursor: pointer;
    @media screen and (max-width: 1140px){
        display: none;
    }
    svg{
        width: 14px;
        height: 27px;
        transform: rotate(90deg);
        fill: #363730;
        margin-bottom:8px;
    }
    &.is-visible{
        visibility: visible;
        opacity: 0.5;
        &:hover{
            opacity: 1;
        }

    }
 }

 .main{
    position: relative;
    background: #f1f2f6;
    padding-top: 60px;
    z-index: 1;
    @media screen and (max-width: 1140px){
        height: auto;
    }
    &-content{
        position: relative;
        max-width: 1200px;
        padding: 60px 50px 260px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        @media screen and (max-width: 1140px){
            padding: 30px 16px;
        }
    }
     &__title{
        font-size: 45px;
        font-family: "FuturaRound";
        color: #212c28;
        line-height: 1;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
        margin-bottom: 0;
        @media screen and (max-width: 1140px){
            font-size: 30px;
        }
         &--text{
            font-size: 21px;
            font-family: "Roboto";
            color: #565656;
            line-height: 1.286;
            text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
            margin-bottom: 40px;
            @media screen and (max-width: 1140px){
                font-size: 18px;
                margin-bottom: 20px;
            }

         }
     }
     &__subtitle{
        font-size: 20px;
        font-family: "FuturaRoundBold";
        color: #474747;
        line-height: 1;
        text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);

     }
     &__text{
         font-size: 15px;
        font-family: "FuturaRound";
        color: #474747;
        line-height: 1.2;
        text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
        margin-bottom: 20px;
     }
     &__link{
        color: #8d0e57;

     }
     &-table{
        position: relative;
        margin-bottom: 36px;
        @media screen and (max-width: 1140px){
            margin-bottom: 20px;
        }
     }
     .instruction__img{
        position: absolute;
        top: 42px;
        right: -68px;
        background: url(../assets/img/item-instruction.png) 50% 50% no-repeat;
        background-size: cover;
        width: 523px;
        height: 325px;
        @media screen and (max-width: 1140px){
            display: none;
        }
     }
     &__information{
        font-size: 15px;
        font-family: "FuturaRound";
        color: #474747;
        line-height: 1.2;
        text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
        padding: 27px 35px;
        border: 1px dashed #454545;
        border-radius: 15px;
        margin-bottom: 24px;
        @media screen and (max-width: 1140px){
            padding: 16px 22px;
            margin-bottom: 20px;
            border-radius: 8px;
        }

     }
     &__line{
         height: 2px;
         background: #31332d;
         margin: 10px 0 30px;
     }
     &-list__item{
        font-size: 12px;
        font-family: "FuturaRound";
        color: #474747;
        line-height: 1.2;
        text-shadow: 0px 3px 43px rgba(0, 0, 0, 0.11);
        margin-bottom: 10px;

     }
    .mod-magenta{
        color: #8d0e57;
    }
    .compose-table{
        margin-left: 0;
    }
    .compose__text{
        margin-left: 0;
    }

 }